:root{
    --bs-theme-orange: 254, 51, 10;
}

.streamline .container{
    background: black;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.streamline .btn:hover{
  background-color: #FE330A;
    color: white;
    transition: all 1s;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: black;
}

.nav-link{
    color: black;
}


.cost .card:hover{
    background-color: black;
    color: white;
    transition: all 1s;
}
.cost .card:hover .btn-outline-dark {
  color: white;
  border-color: #FE330A;
}

.cost .card{
    transition: all 1s;
    border-radius: 15px;
}

.cost .card .btn:hover{
    background-color: #FE330A;
    transition: all 1s;
    cursor: pointer;
    /*animation: fade-down 1.5s;*/

}

.cost .card .btn{
    transition: all 1s;
}

/* @keyframes fade-down {
  /*fade=down: tên keyframe, đặt gì cũng đc miễm ngắn dễ đọc hiểu
  0% {
    transform: translateY(0px); /*trạng thái from-ít dùng từ from, dùng %
    opacity: 0;
  }
  100% {
    transform: translateY(60px); /*trạng thái to-ít dùng từ to, dùng %
    opacity: 1;
  }
} */



.ask .btn:hover{
    background-color: #FE330A;
    transition: all 1s;
    cursor: pointer;
    /*animation: fade-down 1.5s;*/

}

.ask .btn{
    transition: all 1s;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(/img/plus.png);
    transform: rotate(45deg);
}

.accordion-button::after{
    background-image: url(/img/plus.png);
}

/*animation wording*/
.wording {
  overflow: hidden;
  white-space: nowrap;
}

.wording-content {
  display: inline-flex;
  gap: 40px;
  animation: scroll 10s linear infinite;
}

.wording-content span {
  display: flex;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
}

.wording-content img {
  width: 40px;
  margin-right: 10px;
}

/* Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-33.3%);
  }
}