:root {
  --bs-cream: #efeae3;
  --bs-orange: #fe330a;

  .text-orange {
  color: var(--bs-orange);}

  .bg-orange{
    background-color: var(--bs-orange) ;
  }
  .bg-cream{
    background-color: var(--bs-cream) ;
  }
  .text-cream {
  color: var(--bs-cream);
}
  
}


.streamline .container{
    background: black;
    margin-top: 20px;
    margin-bottom: 20px; 
}

.streamline .btn:hover{
  background-color: #FE330A;
    color: white;
    transition: all 1s;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: black;
}

.nav-link{
    color: black;
}


.cost .card:hover{
    background-color: black;
    color: white;
    transition: all 1s;
}
.cost .card:hover .btn-outline-dark {
  color: white;
  border-color: #FE330A;
}

.cost .card{
    transition: all 1s;
    border-radius: 15px;
}

.cost .nav-link:hover{
  color: var(--bs-orange);
}

.cost .card .btn:hover{
    background-color: #FE330A;
    transition: all 1s;
    cursor: pointer;
}

.cost .card .btn{
    transition: all 1s;
}


.ask .btn:hover{
    background-color: #FE330A;
    transition: all 1s;
    cursor: pointer;

}

.ask .btn{
    transition: all 1s;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(img/plus.png);
    transform: rotate(45deg);
}

.accordion-button::after{
    background-image: url(img/plus.png);
}

.feedback i{
  color: var(--bs-orange)
}

/*animation wording*/
.wording {
  overflow: hidden;
  white-space: nowrap;
}

.wording-content {
  display: inline-flex;
  gap: 40px;
  animation: scroll 10s linear infinite;
}

.wording-content span {
  display: flex;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
}

.wording-content img {
  width: 40px;
  margin-right: 10px;
}

/* Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-33.3%);
  }
}

.footer-navbar a:hover{
    color: #FE330A !important; 
    transition: all 0.6s;
}
.footer-navbar a{
    transition: all 0.6s;
}

.footer .subscribe button:hover{
  background-color:#FE330A !important;
  transition: all 0.6s;
}

.footer .subscribe button{
    transition: all 0.6s;
}
